In [1]:
import pandas as pd
df = pd.read_csv('car_sales.csv')
df

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2/2/2012,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,6/3/2011,91.370778
2,Acura,CL,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,1/4/2012,NaN
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,3/10/2011,91.389779
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,10/8/2011,62.777639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Volvo,V40,3.545,NaN,Passenger,24.40,1.9,160.0,100.5,67.6,176.6,3.042,15.8,25.0,9/21/2011,66.498812
153,Volvo,S70,15.245,NaN,Passenger,27.50,2.4,168.0,104.9,69.3,185.9,3.208,17.9,25.0,11/24/2012,70.654495
154,Volvo,V70,17.531,NaN,Passenger,28.80,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,6/25/2011,71.155978
155,Volvo,C70,3.493,NaN,Passenger,45.50,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,4/26/2011,101.623357
156,Volvo,S80,18.969,NaN,Passenger,36.00,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,11/14/2011,85.735655

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         157 non-null    object
 1   Model                157 non-null    object
 2   Sales_in_thousands   157 non-null    float64
 3   __year_resale_value  121 non-null    float64
 4   Vehicle_type         157 non-null    object
 5   Price_in_thousands   155 non-null    float64
 6   Engine_size          156 non-null    float64
 7   Horsepower           156 non-null    float64
 8   Wheelbase            156 non-null    float64
 9   Width                156 non-null    float64
 10  Length               156 non-null    float64
 11  Curb_weight          155 non-null    float64
 12  Fuel_capacity        156 non-null    float64
 13  Fuel_efficiency      154 non-null    float64
 14  Latest_Launch        157 non-null    object
 15  Power_perf_factor    155 non-null    float64
dtypes: float64(12), object(4)
memory usage: 19.8+ KB

In [3]:
df.describe()

,Sales_in_thousands,__year_resale_value,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Power_perf_factor
count,157.000000,121.000000,155.000000,156.000000,156.000000,156.000000,156.000000,156.000000,155.000000,156.000000,154.000000,155.000000
mean,52.998076,18.072975,27.390755,3.060897,185.948718,107.487179,71.150000,187.343590,3.378026,17.951923,23.844156,77.043591
std,68.029422,11.453384,14.351653,1.044653,56.700321,7.641303,3.451872,13.431754,0.630502,3.887921,4.282706,25.142664
min,0.110000,5.160000,9.235000,1.000000,55.000000,92.600000,62.600000,149.400000,1.895000,10.300000,15.000000,23.276272
25%,14.114000,11.260000,18.017500,2.300000,149.500000,103.000000,68.400000,177.575000,2.971000,15.800000,21.000000,60.407707
50%,29.450000,14.180000,22.799000,3.000000,177.500000,107.000000,70.550000,187.900000,3.342000,17.200000,24.000000,72.030917
75%,67.956000,19.875000,31.947500,3.575000,215.000000,112.200000,73.425000,196.125000,3.799500,19.575000,26.000000,89.414878
max,540.561000,67.550000,85.500000,8.000000,450.000000,138.700000,79.900000,224.500000,5.572000,32.000000,45.000000,188.144323

In [4]:

for column in ['__year_resale_value', 'Price_in_thousands', 'Engine_size', 'Horsepower', 
               'Wheelbase', 'Width', 'Length', 'Curb_weight', 'Fuel_capacity', 
               'Fuel_efficiency', 'Power_perf_factor']:
    df[column].fillna(df[column].median(), inplace=True)


print(df.isnull().sum())

Manufacturer           0
Model                  0
Sales_in_thousands     0
__year_resale_value    0
Vehicle_type           0
Price_in_thousands     0
Engine_size            0
Horsepower             0
Wheelbase              0
Width                  0
Length                 0
Curb_weight            0
Fuel_capacity          0
Fuel_efficiency        0
Latest_Launch          0
Power_perf_factor      0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         157 non-null    object
 1   Model                157 non-null    object
 2   Sales_in_thousands   157 non-null    float64
 3   __year_resale_value  157 non-null    float64
 4   Vehicle_type         157 non-null    object
 5   Price_in_thousands   157 non-null    float64
 6   Engine_size          157 non-null    float64
 7   Horsepower           157 non-null    float64
 8   Wheelbase            157 non-null    float64
 9   Width                157 non-null    float64
 10  Length               157 non-null    float64
 11  Curb_weight          157 non-null    float64
 12  Fuel_capacity        157 non-null    float64
 13  Fuel_efficiency      157 non-null    float64
 14  Latest_Launch        157 non-null    object
 15  Power_perf_factor    157 non-null    float64
dtypes: float64(12), object(4)
memory usage: 19.8+ KB

In [6]:
df['Latest_Launch'] = pd.to_datetime(df['Latest_Launch'], errors='coerce')

In [7]:
df

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.500,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2012-02-02,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.400,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,2011-06-03,91.370778
2,Acura,CL,14.114,18.225,Passenger,22.799,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,2012-01-04,72.030917
3,Acura,RL,8.588,29.725,Passenger,42.000,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,2011-03-10,91.389779
4,Audi,A4,20.397,22.255,Passenger,23.990,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,2011-10-08,62.777639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Volvo,V40,3.545,14.180,Passenger,24.400,1.9,160.0,100.5,67.6,176.6,3.042,15.8,25.0,2011-09-21,66.498812
153,Volvo,S70,15.245,14.180,Passenger,27.500,2.4,168.0,104.9,69.3,185.9,3.208,17.9,25.0,2012-11-24,70.654495
154,Volvo,V70,17.531,14.180,Passenger,28.800,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,2011-06-25,71.155978
155,Volvo,C70,3.493,14.180,Passenger,45.500,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,2011-04-26,101.623357
156,Volvo,S80,18.969,14.180,Passenger,36.000,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,2011-11-14,85.735655

In [8]:
df.drop(columns=['__year_resale_value','Power_perf_factor'],inplace=True)

In [9]:
df

,Manufacturer,Model,Sales_in_thousands,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch
0,Acura,Integra,16.919,Passenger,21.500,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2012-02-02
1,Acura,TL,39.384,Passenger,28.400,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,2011-06-03
2,Acura,CL,14.114,Passenger,22.799,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,2012-01-04
3,Acura,RL,8.588,Passenger,42.000,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,2011-03-10
4,Audi,A4,20.397,Passenger,23.990,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,2011-10-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Volvo,V40,3.545,Passenger,24.400,1.9,160.0,100.5,67.6,176.6,3.042,15.8,25.0,2011-09-21
153,Volvo,S70,15.245,Passenger,27.500,2.4,168.0,104.9,69.3,185.9,3.208,17.9,25.0,2012-11-24
154,Volvo,V70,17.531,Passenger,28.800,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,2011-06-25
155,Volvo,C70,3.493,Passenger,45.500,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,2011-04-26
156,Volvo,S80,18.969,Passenger,36.000,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,2011-11-14

In [10]:
for i in ['Manufacturer', 'Vehicle_type']:
    df[i] = df[i].str.lower()

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Manufacturer        157 non-null    object
 1   Model               157 non-null    object
 2   Sales_in_thousands  157 non-null    float64
 3   Vehicle_type        157 non-null    object
 4   Price_in_thousands  157 non-null    float64
 5   Engine_size         157 non-null    float64
 6   Horsepower          157 non-null    float64
 7   Wheelbase           157 non-null    float64
 8   Width               157 non-null    float64
 9   Length              157 non-null    float64
 10  Curb_weight         157 non-null    float64
 11  Fuel_capacity       157 non-null    float64
 12  Fuel_efficiency     157 non-null    float64
 13  Latest_Launch       157 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(10), object(3)
memory usage: 17.3+ KB

In [12]:
import pandas as pd
import category_encoders as ce
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.metrics import mean_squared_error, r2_score

In [13]:
target = 'Price_in_thousands'
numeric = ['Engine_size', 'Horsepower', 'Curb_weight', 'Fuel_capacity', 'Fuel_efficiency']
categorical = ['Manufacturer', 'Vehicle_type']

In [14]:
X_new = df[numeric + categorical]
y_new = df[target]


X_train, X_test, y_train, y_test = train_test_split(X_new, y_new, test_size=0.2, random_state=42)

In [15]:

binary_encoder = ce.BinaryEncoder(cols=categorical)
X_train= binary_encoder.fit_transform(X_train)
X_test= binary_encoder.transform(X_test)

In [16]:
model = RandomForestRegressor(n_estimators=100, random_state=42)

# Fit the model
model.fit(X_train, y_train)

RandomForestRegressor(random_state=42)

In [17]:
from sklearn.metrics import mean_squared_error, r2_score
y_pred = model.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

In [18]:
mse

103.65025917799997

In [19]:
r2

0.6983659606915621

In [20]:
test_data = pd.DataFrame({
    'Engine_size': [2.0], 
    'Horsepower': [150.0],
    'Curb_weight': [3000],
    'Fuel_capacity': [15.0],
    'Fuel_efficiency': [25.0],
    'Manufacturer': ['Toyota'],
    'Vehicle_type': ['SUV']
})

In [21]:
car = binary_encoder.transform(test_data)

In [22]:
model.predict(car)

array([21.86765])

In [23]:
from sklearn.model_selection import cross_val_score
from sklearn.metrics import r2_score
cv_scores_train = cross_val_score(model, X_train, y_train, cv=5, scoring='r2')

In [24]:
cv_scores_train

array([0.63313863, 0.66514259, 0.77854138, 0.78145869, 0.68946801])

In [25]:
import numpy as np
scores = np.array([0.63313863, 0.66514259, 0.77854138, 0.78145869, 0.68946801])
mean_score = np.mean(scores)

In [26]:
cv_scores_train.mean()

0.7095498582216349

In [27]:
cv_scores_train.std()

0.06024063550318259

In [28]:
import joblib

# Save the model
joblib.dump(model, 'car_price_predictor_model.pkl')

# Save the encoder
joblib.dump(binary_encoder, 'binary_encoder.pkl')

['binary_encoder.pkl']

In [29]:
def predict_price(input_data):
    # Create a DataFrame from the input data
    df = pd.DataFrame([input_data])
    
    # Encode categorical features
    df_encoded = binary_encoder.transform(df)
    
    # Make prediction
    prediction = model.predict(df_encoded)
    
    return prediction[0]

In [30]:
import numpy as np
r2_scores = np.array([0.74784025, 0.61220563, 0.87609544, 0.6017272, 0.82969301])

mean_r2 = np.mean(r2_scores)
std_r2 = np.std(r2_scores)

print(f"Mean R^2 Score: {mean_r2:.4f}")
print(f"Standard Deviation of R^2 Scores: {std_r2:.4f}")

Mean R^2 Score: 0.7335
Standard Deviation of R^2 Scores: 0.1112

In [31]:
engine_sizes = sorted(df['Engine_size'].unique())
horsepowers = sorted(df['Horsepower'].unique())
curb_weights = sorted(df['Curb_weight'].unique())
fuel_capacities = sorted(df['Fuel_capacity'].unique())
fuel_efficiencies = sorted(df['Fuel_efficiency'].unique())

# Print the unique values for verification
print("Unique Engine Sizes:", engine_sizes)
print("Unique Horsepowers:", horsepowers)
print("Unique Curb Weights:", curb_weights)
print("Unique Fuel Capacities:", fuel_capacities)
print("Unique Fuel Efficiencies:", fuel_efficiencies)

Unique Engine Sizes: [1.0, 1.5, 1.6, 1.8, 1.9, 2.0, 2.2, 2.3, 2.4, 2.5, 2.7, 2.8, 2.9, 3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.8, 3.9, 4.0, 4.2, 4.3, 4.6, 4.7, 5.0, 5.2, 5.4, 5.7, 8.0]
Unique Horsepowers: [55.0, 92.0, 100.0, 106.0, 107.0, 110.0, 113.0, 115.0, 119.0, 120.0, 124.0, 125.0, 126.0, 127.0, 132.0, 133.0, 135.0, 137.0, 140.0, 142.0, 145.0, 146.0, 148.0, 150.0, 153.0, 154.0, 155.0, 160.0, 161.0, 163.0, 165.0, 168.0, 170.0, 173.0, 175.0, 177.5, 180.0, 185.0, 190.0, 193.0, 194.0, 195.0, 200.0, 201.0, 202.0, 205.0, 210.0, 215.0, 217.0, 220.0, 221.0, 222.0, 225.0, 227.0, 230.0, 236.0, 240.0, 250.0, 253.0, 255.0, 275.0, 290.0, 300.0, 302.0, 310.0, 345.0, 450.0]
Unique Curb Weights: [1.895, 2.24, 2.25, 2.332, 2.339, 2.367, 2.398, 2.42, 2.425, 2.452, 2.468, 2.559, 2.564, 2.567, 2.58, 2.593, 2.626, 2.639, 2.668, 2.676, 2.762, 2.767, 2.769, 2.778, 2.85, 2.853, 2.879, 2.892, 2.906, 2.91, 2.911, 2.932, 2.942, 2.945, 2.958, 2.967, 2.975, 2.99, 2.998, 3.012, 3.032, 3.042, 3.043, 3.045, 3.051, 3.055, 3.058, 3.072, 3.075, 3.079, 3.086, 3.091, 3.102, 3.125, 3.131, 3.179, 3.194, 3.197, 3.203, 3.208, 3.21, 3.213, 3.217, 3.219, 3.25, 3.259, 3.28, 3.294, 3.33, 3.332, 3.34, 3.342, 3.368, 3.373, 3.375, 3.379, 3.389, 3.396, 3.415, 3.417, 3.44, 3.443, 3.452, 3.455, 3.47, 3.472, 3.489, 3.492, 3.5, 3.51, 3.517, 3.528, 3.533, 3.543, 3.557, 3.561, 3.564, 3.567, 3.59, 3.591, 3.6, 3.601, 3.638, 3.65, 3.693, 3.759, 3.761, 3.77, 3.778, 3.821, 3.823, 3.843, 3.85, 3.857, 3.868, 3.876, 3.88, 3.89, 3.9, 3.902, 3.908, 3.942, 3.944, 3.947, 3.948, 3.958, 3.967, 3.978, 3.991, 4.068, 4.115, 4.121, 4.125, 4.133, 4.241, 4.245, 4.288, 4.298, 4.387, 4.394, 4.47, 4.52, 4.808, 5.115, 5.393, 5.401, 5.572]
Unique Fuel Capacities: [10.3, 11.9, 12.0, 12.1, 12.5, 12.7, 13.1, 13.2, 13.7, 14.0, 14.3, 14.5, 14.6, 15.0, 15.1, 15.2, 15.3, 15.7, 15.8, 15.9, 16.0, 16.3, 16.4, 16.6, 16.8, 16.9, 17.0, 17.1, 17.2, 17.5, 17.9, 18.0, 18.4, 18.5, 19.0, 19.1, 19.4, 19.5, 19.8, 20.0, 20.5, 20.9, 21.0, 21.1, 22.0, 22.5, 23.2, 23.7, 24.3, 25.0, 25.1, 25.4, 26.0, 30.0, 32.0]
Unique Fuel Efficiencies: [15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 45.0]

In [38]:
import tkinter as tk
from tkinter import ttk, messagebox
import pandas as pd
import joblib

# Load the model and encoder
model = joblib.load('car_price_predictor_model.pkl')
binary_encoder = joblib.load('binary_encoder.pkl')

# Actual unique values for comboboxes
engine_sizes = [1.0, 1.5, 1.6, 1.8, 1.9, 2.0, 2.2, 2.3, 2.4, 2.5, 2.7, 2.8, 2.9, 3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.8, 3.9, 4.0, 4.2, 4.3, 4.6, 4.7, 5.0, 5.2, 5.4, 5.7, 8.0]
horsepowers = [55.0, 92.0, 100.0, 106.0, 107.0, 110.0, 113.0, 115.0, 119.0, 120.0, 124.0, 125.0, 126.0, 127.0, 132.0, 133.0, 135.0, 137.0, 140.0, 142.0, 145.0, 146.0, 148.0, 150.0, 153.0, 154.0, 155.0, 160.0, 161.0, 163.0, 165.0, 168.0, 170.0, 173.0, 175.0, 177.5, 180.0, 185.0, 190.0, 193.0, 194.0, 195.0, 200.0, 201.0, 202.0, 205.0, 210.0, 215.0, 217.0, 220.0, 221.0, 222.0, 225.0, 227.0, 230.0, 236.0, 240.0, 250.0, 253.0, 255.0, 275.0, 290.0, 300.0, 302.0, 310.0, 345.0, 450.0]
curb_weights = [1.895, 2.24, 2.25, 2.332, 2.339, 2.367, 2.398, 2.42, 2.425, 2.452, 2.468, 2.559, 2.564, 2.567, 2.58, 2.593, 2.626, 2.639, 2.668, 2.676, 2.762, 2.767, 2.769, 2.778, 2.85, 2.853, 2.879, 2.892, 2.906, 2.91, 2.911, 2.932, 2.942, 2.945, 2.958, 2.967, 2.975, 2.99, 2.998, 3.012, 3.032, 3.042, 3.043, 3.045, 3.051, 3.055, 3.058, 3.072, 3.075, 3.079, 3.086, 3.091, 3.102, 3.125, 3.131, 3.179, 3.194, 3.197, 3.203, 3.208, 3.21, 3.213, 3.217, 3.219, 3.25, 3.259, 3.28, 3.294, 3.33, 3.332, 3.34, 3.342, 3.368, 3.373, 3.375, 3.379, 3.389, 3.396, 3.415, 3.417, 3.44, 3.443, 3.452, 3.455, 3.47, 3.472, 3.489, 3.492, 3.5, 3.51, 3.517, 3.528, 3.533, 3.543, 3.557, 3.561, 3.564, 3.567, 3.59, 3.591, 3.6, 3.601, 3.638, 3.65, 3.693, 3.759, 3.761, 3.77, 3.778, 3.821, 3.823, 3.843, 3.85, 3.857, 3.868, 3.876, 3.88, 3.89, 3.9, 3.902, 3.908, 3.942, 3.944, 3.947, 3.948, 3.958, 3.967, 3.978, 3.991, 4.068, 4.115, 4.121, 4.125, 4.133, 4.241, 4.245, 4.288, 4.298, 4.387, 4.394, 4.47, 4.52, 4.808, 5.115, 5.393, 5.401, 5.572]
fuel_capacities = [10.3, 11.9, 12.0, 12.1, 12.5, 12.7, 13.1, 13.2, 13.7, 14.0, 14.3, 14.5, 14.6, 15.0, 15.1, 15.2, 15.3, 15.7, 15.8, 15.9, 16.0, 16.3, 16.4, 16.6, 16.8, 16.9, 17.0, 17.1, 17.2, 17.5, 17.9, 18.0, 18.4, 18.5, 19.0, 19.1, 19.4, 19.5, 19.8, 20.0, 20.5, 20.9, 21.0, 21.1, 22.0, 22.5, 23.2, 23.7, 24.3, 25.0, 25.1, 25.4, 26.0, 30.0, 32.0]
fuel_efficiencies = [15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 45.0]

# Convert numerical values to strings for comboboxes
engine_sizes = [str(size) for size in engine_sizes]
horsepowers = [str(power) for power in horsepowers]
curb_weights = [str(weight) for weight in curb_weights]
fuel_capacities = [str(capacity) for capacity in fuel_capacities]
fuel_efficiencies = [str(efficiency) for efficiency in fuel_efficiencies]

# Predefined options for comboboxes
manufacturers = ['toyota', 'honda', 'ford', 'chevrolet', 'bmw']  # Example values
vehicle_types = ['suv', 'sedan', 'hatchback', 'truck', 'coupe']  # Example values

def predict_price():
    try:
        # Retrieve input data from the comboboxes
        engine_size = combobox_engine_size.get()
        horsepower = combobox_horsepower.get()
        curb_weight = combobox_curb_weight.get()
        fuel_capacity = combobox_fuel_capacity.get()
        fuel_efficiency = combobox_fuel_efficiency.get()
        manufacturer = combobox_manufacturer.get().lower()
        vehicle_type = combobox_vehicle_type.get().lower()

        # Check if any combobox selection is empty
        if (not engine_size or not horsepower or not curb_weight or 
            not fuel_capacity or not fuel_efficiency or 
            manufacturer not in manufacturers or vehicle_type not in vehicle_types):
            messagebox.showerror("Input Error", "Please select valid options for all fields.")
            return

        # Convert selected values to float
        engine_size = float(engine_size)
        horsepower = float(horsepower)
        curb_weight = float(curb_weight)
        fuel_capacity = float(fuel_capacity)
        fuel_efficiency = float(fuel_efficiency)

        # Create a DataFrame from input data
        input_data = pd.DataFrame({
            'Engine_size': [engine_size],
            'Horsepower': [horsepower],
            'Curb_weight': [curb_weight],
            'Fuel_capacity': [fuel_capacity],
            'Fuel_efficiency': [fuel_efficiency],
            'Manufacturer': [manufacturer],
            'Vehicle_type': [vehicle_type]
        })

        # Encode categorical features
        input_data_encoded = binary_encoder.transform(input_data)

        # Predict price
        price_prediction = model.predict(input_data_encoded)[0]
        
        # Update the result label with the predicted price
        result_label.config(text=f"Predicted Price: ${price_prediction:.2f}k")
    except ValueError:
        messagebox.showerror("Input Error", "Please enter valid numbers for all fields.")

def reset_form():
    # Reset all comboboxes
    combobox_engine_size.set('')
    combobox_horsepower.set('')
    combobox_curb_weight.set('')
    combobox_fuel_capacity.set('')
    combobox_fuel_efficiency.set('')
    combobox_manufacturer.set('')
    combobox_vehicle_type.set('')
    result_label.config(text="")

# Create the main window
root = tk.Tk()
root.title("Car Price Predictor")
root.geometry("600x500")
root.configure(bg="#f0f0f0")

# Create a frame for better organization
frame = tk.Frame(root, bg='#f0f0f0')
frame.pack(padx=20, pady=20, fill=tk.BOTH, expand=True)

# Define custom fonts and colors
custom_font = ("Arial", 12)
label_font = ("Arial", 12, 'bold')
entry_bg = "lightyellow"
button_bg = "lightgreen"

# Create and place labels and comboboxes for numerical features
labels = [
    "Engine Size", "Horsepower", "Curb Weight", "Fuel Capacity", "Fuel Efficiency", 
    "Manufacturer", "Vehicle Type"
]

comboboxes = []

for i, label in enumerate(labels[:-2]):  # Skip the last two labels for comboboxes
    ttk.Label(frame, text=label, font=label_font, background='#f0f0f0').grid(row=i, column=0, padx=10, pady=10, sticky=tk.W)
    
    if label == "Engine Size":
        combobox = ttk.Combobox(frame, values=engine_sizes, font=custom_font)
    elif label == "Horsepower":
        combobox = ttk.Combobox(frame, values=horsepowers, font=custom_font)
    elif label == "Curb Weight":
        combobox = ttk.Combobox(frame, values=curb_weights, font=custom_font)
    elif label == "Fuel Capacity":
        combobox = ttk.Combobox(frame, values=fuel_capacities, font=custom_font)
    elif label == "Fuel Efficiency":
        combobox = ttk.Combobox(frame, values=fuel_efficiencies, font=custom_font)
    combobox.grid(row=i, column=1, padx=10, pady=10)
    comboboxes.append(combobox)

combobox_engine_size, combobox_horsepower, combobox_curb_weight, combobox_fuel_capacity, combobox_fuel_efficiency = comboboxes

# Create and place comboboxes for Manufacturer and Vehicle Type
ttk.Label(frame, text="Manufacturer:", font=label_font, background='#f0f0f0').grid(row=len(labels)-2, column=0, padx=10, pady=10, sticky=tk.W)
combobox_manufacturer = ttk.Combobox(frame, values=manufacturers, font=custom_font)
combobox_manufacturer.grid(row=len(labels)-2, column=1, padx=10, pady=10)

ttk.Label(frame, text="Vehicle Type:", font=label_font, background='#f0f0f0').grid(row=len(labels)-1, column=0, padx=10, pady=10, sticky=tk.W)
combobox_vehicle_type = ttk.Combobox(frame, values=vehicle_types, font=custom_font)
combobox_vehicle_type.grid(row=len(labels)-1, column=1, padx=10, pady=10)

# Create and place the Predict button
price_button = tk.Button(frame, text="Predict Price", command=predict_price, bg=button_bg, font=label_font, relief=tk.RAISED)
price_button.grid(row=len(labels), columnspan=2, pady=15)

# Create and place the Reset button
reset_button = tk.Button(frame, text="Reset Form", command=reset_form, bg="lightcoral", font=label_font, relief=tk.RAISED)
reset_button.grid(row=len(labels)+1, columnspan=2, pady=15)

# Create and place the result label
result_label = tk.Label(frame, text="", bg='#f0f0f0', font=label_font)
result_label.grid(row=len(labels)+2, columnspan=2, pady=15)

# Run the Tkinter event loop
root.mainloop()